<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ForgotPasswordAction</display-name>
    <servlet-name>ForgotPasswordAction</servlet-name>
    <servlet-class>onlineshopingplateformprojectservlets.ForgotPasswordAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordAction</servlet-name>
    <url-pattern>/ForgotPasswordAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewProductAction</display-name>
    <servlet-name>AddNewProductAction</servlet-name>
    <servlet-class>onlineshopingplateformprojectservlets.AddNewProductAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewProductAction</servlet-name>
    <url-pattern>/AddNewProductAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductAction</display-name>
    <servlet-name>EditProductAction</servlet-name>
    <servlet-class>onlineshopingplateformprojectservlets.EditProductAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductAction</servlet-name>
    <url-pattern>/EditProductAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>onlineshopingplateformprojectservlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartAction</display-name>
    <servlet-name>AddToCartAction</servlet-name>
    <servlet-class>onlineshopingplateformprojectservlets.AddToCartAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartAction</servlet-name>
    <url-pattern>/AddToCartAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncDecQunatityAction</display-name>
    <servlet-name>IncDecQunatityAction</servlet-name>
    <servlet-class>onlineshopingplateformprojectservlets.IncDecQunatityAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncDecQunatityAction</servlet-name>
    <url-pattern>/IncDecQunatityAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveProductFromCart</display-name>
    <servlet-name>RemoveProductFromCart</servlet-name>
    <servlet-class>onlineshopingplateformprojectservlets.RemoveProductFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveProductFromCart</servlet-name>
    <url-pattern>/RemoveProductFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProceedToOrderAction</display-name>
    <servlet-name>ProceedToOrderAction</servlet-name>
    <servlet-class>onlineshopingplateformprojectservlets.ProceedToOrderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProceedToOrderAction</servlet-name>
    <url-pattern>/ProceedToOrderAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChekOrdersAction</display-name>
    <servlet-name>ChekOrdersAction</servlet-name>
    <servlet-class>onlineshopingplateformprojectservlets.ChekOrdersAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChekOrdersAction</servlet-name>
    <url-pattern>/ChekOrdersAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordAction</display-name>
    <servlet-name>ChangePasswordAction</servlet-name>
    <servlet-class>onlineshopingplateformprojectservlets.ChangePasswordAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordAction</servlet-name>
    <url-pattern>/ChangePasswordAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrChangeAddressAction</display-name>
    <servlet-name>AddOrChangeAddressAction</servlet-name>
    <servlet-class>onlineshopingplateformprojectservlets.AddOrChangeAddressAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrChangeAddressAction</servlet-name>
    <url-pattern>/AddOrChangeAddressAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeSequrityQuestionAction</display-name>
    <servlet-name>ChangeSequrityQuestionAction</servlet-name>
    <servlet-class>onlineshopingplateformprojectservlets.ChangeSequrityQuestionAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeSequrityQuestionAction</servlet-name>
    <url-pattern>/ChangeSequrityQuestionAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeMobileNumberAction</display-name>
    <servlet-name>ChangeMobileNumberAction</servlet-name>
    <servlet-class>onlineshopingplateformprojectservlets.ChangeMobileNumberAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMobileNumberAction</servlet-name>
    <url-pattern>/ChangeMobileNumberAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageUsAction</display-name>
    <servlet-name>MessageUsAction</servlet-name>
    <servlet-class>onlineshopingplateformprojectservlets.MessageUsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageUsAction</servlet-name>
    <url-pattern>/MessageUsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrdersAction</display-name>
    <servlet-name>CancelOrdersAction</servlet-name>
    <servlet-class>onlineshopingplateformprojectservlets.CancelOrdersAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrdersAction</servlet-name>
    <url-pattern>/CancelOrdersAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveredOrdersAction</display-name>
    <servlet-name>DeliveredOrdersAction</servlet-name>
    <servlet-class>onlineshopingplateformprojectservlets.DeliveredOrdersAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveredOrdersAction</servlet-name>
    <url-pattern>/DeliveredOrdersAction</url-pattern>
  </servlet-mapping>
</web-app>